/*Global Attributes*/

body {
  color: #FFF;
  font-family: 'Roboto', sans-serif;
}

body,
h1,
a,
h2,
h3,
h4,
h5,
h6,
li,
ul,
div,
article,
header,
section,
main {
    margin: 0px;
    padding: 0px;
}

ul {
    list-style-type: none;
}

/*Main Styles*/

h1 {
  background-color: 	rgb(88,88,88);
  position: absolute;
  top: 200px;
  width: 26%;
  right: 37%;
  left: 37%;
  text-align: center;
}

.nav {
    display: flex;
    height: 8rem;
    background-color: rgb(152, 152, 152);
}

.nav-list a,
.topic {
    color: rgb(255, 255, 255);
}

.logo {
    width: 13%;
    margin: auto 10px;
    height: 90%;
    box-sizing: border-box;
    background-color: rgb(168, 168, 168);
}

.nav-list {
    display: flex;
}

.nav-list li {
    margin: auto 20px;
}

.button {
    width: 8%;
    margin: auto 10px;
    height: 40%;
    box-sizing: border-box;
    background-color: rgb(168, 168, 168);
    text-align: center;
}

.button .topic {
    height: 40px;
    line-height: 40px;
}

.featured-articles-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.article-container {
  background-color: rgb(120,120,120);
  height: 745px;
}

.small {
  height: 630px;
}

.article-container:first-of-type {
  background-color: rgb(112,112,112);
}

.featured-article {
  margin: 30% auto;
  height: 40%;
  text-align: left;
  width: 65%;

}

.author {
  background-color: rgb(192,192,192);
  margin-bottom: 40px;
  height: 35px;
  width: 70%;
}

.article-content {
  background-color: rgb(80,80,80);
  margin-bottom: 35px;
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 43px;
}

.article-list {
  display: flex;
}

.article-list li {
  background-color: rgb(192,192,192);
  font-size: 1.2rem;
  margin-right: 35px;
}
